.simulation_container {
    background-color: white;
    color: black;
}

.simulation_header {
    margin: 45px 0 0 0;
}

.simulation_iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

.simulation_content {
    text-align: center;
    padding: 25px 200px 75px;
}
.simulation_title {
    font-size: 2.5rem;
    margin: 15px 0;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.simulation_description {
    margin: 27px 0 40px;
    font-size: 1.1rem;
    font-weight: 300;
}
.simulation_links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

@media (max-width: 980px) {
    .simulation_content {
        padding: 25px 10px 75px;
    }
}
@media (max-width: 600px) {
    .simulation_links {
        flex-direction: column;
        gap: 30px;
    }
}

