.science_of_complexity {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    color: #333;
    font-weight: 300;
    font-family: Arial;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.7em;
}

.science_of_complexity strong {
    font-weight: 600;
    font-style: italic;
}

.science_of_complexity a {
    color: #007bff;
    text-decoration: none;
}

.science_of_complexity li {
    margin: 17px 0;
}

.science_of_complexity a:hover {
    text-decoration: underline;
}
 
.science_of_complexity .MathJax {
    overflow-x: auto;
    overflow-y: hidden;
}

.soc-texcolor-magnet {
    color: #aa51df;
}

.soc-texcolor-magnets-slider {
    color: #746cc0;
}

.soc-texcolor-temperature {
    color: #6a5ff7;
}

.soc-texcolor-electron {
    color: #e9b109;
}

.soc-texcolor-magnet-north {
    color: #ff3235;
}

.soc-texcolor-magnet-south {
    color: #2939e2;
}

.soc-texcolor-particle {
    color: #1ea2ee;
}

.soc-texcolor-coupling {
    color: #12a02a;
}
