.simulation-canvas-container {
    margin: auto;
    max-width: 670px;
}

.simulation-canvas {
    border-radius: 14px;
    background-color: #ececec;
    width: 100%;
    height: 100%;
}

.simulation-canvas-icon {
    position: relative;
}

.icon-3d {
    width: 54px;
    z-index: 5;
    position: absolute;
    right: 0;
    margin: 8px 8px 0 0;
    color: white;
}

.loading-simulation {
    text-align: center;
    font-size: 1.0em;
    background: #ffffff;
    margin: 10px auto;
    width: fit-content;
    font-size: 0.9em;
}

.error-simulation {
    text-align: center;
    margin: 0px 0 28px 0;
    font-size: 1.0em;
    color: #ff3a3a;
    background: #ffffff;
    line-height: 0.7em;
    border: 2px solid #ff3a3a;
    border-radius: 12px;
}
.error-simulation > p {
    font-weight: bold;
}
.error-simulation > pre {
    font-family: unset;
    font-size: 0.8em;
    color: #ff3a3a;
}
.error-simulation > button {
    margin: 0 0 10px 0;
    border: 2px solid #ff3a3a;
    border-radius: 6px;
    padding: 3px 24px;
    background-color: #ff8b8b;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.error-simulation > button:active {
    background-color: #ff3a3a;
}
