.simulation-canvas-container {
    margin: auto;
    max-width: 670px;
}

.simulation-canvas {
    border-radius: 14px;
    background-color: #ececec;
    width: 100%;
    height: 100%;
}

.simulation-canvas-icon {
    position: relative;
}

.icon-3d {
    width: 54px;
    z-index: 5;
    position: absolute;
    right: 0;
    margin: 8px 8px 0 0;
    color: white;
}

.loading-simulation {
    text-align: center;
    font-size: 1.0em;
    background: #ffffff;
    margin: 10px auto;
    width: fit-content;
    font-size: 0.9em;
}


