.simulation-container {
    margin: 40px 0 29px 0;
}

.simulation-description {
    border: 2px solid #535353;
    margin: 0 29px -51px;
    padding: 15px 15px 42px 15px;
    font-size: 0.8em;
    line-height: 1.2em;
    border-radius: 9px;
}

.simulation-description-title {
    background-color: #ffffff;
    width: fit-content;
    margin: -28px auto 0 auto;
    padding: 3px 9px;
    color: #535353;
    font-size: 1.1em;
    font-weight: 700;
}

.simulation-description-content {
    width: fit-content;
    margin: -14px auto 0 auto;
    padding: 3px 9px;
    color: #535353;
    line-height: 1.2em;
    text-align: center;
}
