.error-simulation {
    text-align: center;
    margin: 0px 0 28px 0;
    font-size: 1.0em;
    color: #ff3a3a;
    background: #ffffff;
    line-height: 0.7em;
    border: 2px solid #ff3a3a;
    border-radius: 12px;
    padding: 20px 0;
}

.error-simulation>p {
    font-weight: bold;
    height: 41px;
}

.error-simulation>pre {
    font-family: unset;
    font-size: 0.8em;
    color: #ff3a3a;
}

.error-simulation>button {
    margin: 0 0 10px 0;
    border: 2px solid #ff3a3a;
    border-radius: 6px;
    padding: 3px 24px;
    background-color: #ff8b8b;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.error-simulation>button:active {
    background-color: #ff3a3a;
}