.conclusion-simulations-div {
    display: flex;
    margin: -6px 0 20px 0;
    border: 3px solid black;
    border-radius: 5px;
    height: 200px;
}
.conclusion-simulations-div > div {
    margin: 0;
    flex: 1;
}
.conclusion-simulations-div > div > div {
    aspect-ratio: unset;
    display: contents;
}
.conclusion-simulations-div canvas {
    border-radius: 0px;
}
.conclusion-simulations-div {
    margin: 0;
}

.conclusion-simulations-div svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 780px) {
    .conclusion-part > h1 {
        margin-bottom: 20px;
    }
}
