.app-header {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: -58px;
}
@media (max-width: 1000px) {
    .app-header {
        margin-bottom: -100px;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: auto;
    width: max-content;
    z-index: 10;
    position: relative;
    text-align: center;
}
.header-content>h1 {
    text-align: center;
    font-size: 3.2em;
    font-weight: bold;
    line-height: 1.5em;
    color: white;
    pointer-events: none;
}
.header-content > p {
    color: white;
    margin: 38px 0 16px 0;
    font-size: 1.2em;
}
@media(max-width: 1000px) {
    .header-content>h1 {
        font-size: 2.5em;
    }
    .header-content > p {
        font-size: 1.0em;
    }
} @media(max-width: 650px) {
    .header-content>h1 {
        font-size: 2.0em;
    }
    .header-content > p {
        font-size: 0.9em;
    }
} @media(max-width: 400px) {
    .header-content>h1 {
        font-size: 1.5em;
    }
    .header-content > p {
        font-size: 0.8em;
    }
}


.header-btn-action {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
.header-btn-scroll {
    text-decoration: none;
    margin: 0 auto 0 auto;
}
@media (max-width: 890px) {
    .header-btn-scroll {
        bottom: unset;
        left: 40%;
    }
}
.header-btn-scroll-box {
    width: 35px;
}
.header-btn-action:hover .header-btn-scroll-box {
    animation: scroll-down 3s infinite;
}
@keyframes scroll-down {
    0%,
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    35% {
        transform: translateY(1rem);
        opacity: 0.2;
    }
}
