.header-widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 31px 30px 0;
}

.header-widgets-left {
    display: flex;
}
.hwl-photo > img {
    border-radius: 50%;
    overflow: hidden;
    width: 66px;
}

.hwr-link-up > svg, .hwr-link > svg {
    width: 18px;
    height: 18px;
    margin: 8px 0 0 7px;
    fill: #000;
    transition: fill 0.2s, transform 0.2s;
}
.hwr-link-up:hover > svg, .hwr-link:hover > svg {
    cursor: pointer;
    fill: #666;
    transform: scale(1.13) rotate(-8deg);
}
.hwr-link-up:active > svg, .hwr-link:active > svg {
    fill: #333;
    transform: scale(0.97) rotate(0deg);
}
.hwl-info {
    margin: 0 0 0 19px;
}
.hwl-info-name {
    font-size: 1.1em;
    font-weight: bold;
}
.hwl-info-desc {
    display: flex;
    font-size: 0.9em;
}
.hwl-info-desc-up {
    display: flex;
}
.hwl-info-text {
    margin: 0 9px;
}
@media (max-width: 780px) {
    .header-widgets {
        margin-top: 35px;
    }
}
@media (min-width: 530px) {
    .hwr-link {
        display: unset;
    }
    .hwr-link-up {
        display: none;
    }
}
@media (max-width: 530px) {
    .hwl-info-desc {
        flex-direction: column;
    }
    .hwl-info-desc > span {
        display: none;
    }
    .hwr-link {
        display: none;
    }
    .hwr-link-up {
        display: unset;
    }
}
@media (max-width: 400px) {
    .header-widgets-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}
@media (max-width: 330px) {
    .header-widgets {
        margin-left: 5px;
        margin-right: 5px;
    }
}
