.simulations {
    margin-top: 120px;
}

.transition {
    height: 8vw;
    width: 100%;
    margin: -35px 0px -4vw 0px;
    position: relative;
}
@media (max-width: 770px) {
    .transition {
        height: 11vw;
    }
}
.rotationLow {
    transform: rotate(359.2deg) scale(1.1, 1);
}
.rotationHigh {
    transform: rotate(358deg) scale(1.1, 1);
}

.animationsContainer {
    padding-bottom: 100px;
}

.transitionDark {
    background-color: #272f3d;
}
.animationsContainerDark {
    background-color: #272f3d;
}

.transitionLight {
    background-color: white;
}
.animationsContainerLight {
    background-color: white;
}

.animations {
    margin: -60px auto 0 auto;
    z-index: 10;
    position: relative;
    max-width: 1160px;
}

.colorNote {
    color: var(--color-green);
}

.title {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 9px;
    text-transform: uppercase;
    margin-top: -65px;
    margin-bottom: 50px;
    font-size: 43px;
    font-weight: 800;
    color: #171f2d;
}
@media (max-width: 1200px) {
    .title {
        margin-top: 8px;
        margin-bottom: -13px;
    }
}
@media (max-width: 890px) {
    .title {
        margin-top: 28px;
    }
    .title>p {
        font-size: 37px;
    }
}

.titleLight {
    color: #171f2d;
}
.titleDark {
    color: white;
}

.more {
    text-align: center;
    margin: 35px auto 0 auto;
    font-size: 19px;
}
.more > a > div > span {
    padding-top: 5px;
}

.loadingText{
    text-align: center;
    font-size: 25px;
    margin: 50px auto 55vh;
}
