.custom-check-g-container {
    position: relative;
}

.custom-check-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: -64px 29px 0 0;
    color: white;
    display: flex;
}

.custom-check-container > label {
    font-weight: bold;
    margin: -2px 0px 0 0;
}

.custom-check-container > input[type="checkbox"] {
    margin: 5px 0 0 11px;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.custom-check-container > input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.custom-check-container > input[type="checkbox"]:checked::before {
    transform: scale(1);
}