.fish-graph-simulation-container {
    position: relative;
    border-radius: 11px;
    border: solid 1px black;
    background-color: #ffffff;
}

.fish-graph-canvas-container {
    position: absolute;
    width: 32%;
    right: 0;
    bottom: 0;
    margin: 0 10px 26px 0;
}

.fish-graph-canvas-container-svg {
    padding: 0 0 0 10px;
    z-index: 2;
    position: relative;
}