.article {
    overflow-x: hidden;
    text-align: justify;
}
/* @media (max-width: 380px) {
    .article {
        text-align: left;
    }
} */

.part-title {
    font-size: 1.9em;
    margin: 93px 0 96px 0;
    text-transform: uppercase;
    line-height: 1.4em;
    text-align: center;
    background-color: #181818;
    color: white;
    padding: 70px 40px;
}
@media (max-width: 780px) {
    .part-title {
        font-size: 1.6em;
        margin: 93px 0 -34px 0;
        padding: 44px 26px;
    }
}

.part-content {
    max-width: 700px;
    margin: -50px auto 0;
}
@media (max-width: 780px) {
    .part-content {
        margin: 0 20px;
        font-size: 0.9em;
        line-height: 1.9em;
    }
}

.section-title {
    font-size: 1.5em;
    margin: 80px 0 23px 0;
    font-weight: bold;
}

.paragraph {
    margin: 35px 0;
}
@media (max-width: 430px) {
    .paragraph > ul, ol {
        padding-inline-start: 10px;
    }
}

li {
    margin: 17px 0;
}
